
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi there!</h2>
    <p>
      A friend has invited you to join a trial on TrialTracker. 
    </br>
      We see that you currently do not have an account. 
    </p>
    <p>
      Follow this link to make an account: <%= @url %>.
      <br>
      Once you have logged in, you can join by clicking the green Add Trial button and entering the code for this trial: <b> <%=@trialid %></b>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>