<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi there, <%= @fuser.username %></h2>
    <p>
      A friend has invited you to join a trial on TrialTracker. 
    </br>
      The code for joining this trial is: <b><%=@trialid %></b>.
    </p>
    <p>
      Follow this link and proceed to add the code: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
