
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi there!</h1>
    <p>
      A friend has invited you to join a trial on TrialTracker. 
    </br>
      We see that you currently do not have an account. 
    </p>
    <p>
      Follow this link to make an account: <%= @url %>.
      <br>
      Once you have registered, the code for joining this trial is: <%=@trialid %>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>