<head>
<link href="/assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
<head>
<body>
<div>
	<br>
</div>
<div class = "container-fluid">
	<div class = "hero-unit">
		<%= render 'form' %>

		<%= link_to 'Back', :controller => "home", :action =>"index" %>

	</div>
 </div>
</body>