<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Edit trial</h3>
  </div>


  <div class="modal-body" height="500px">
  	 <%= render 'trials/edit' %>
 
 
  </div>
</div>

