  <!--*************************** begin Edit Data ******************** -->  

<div class="tab-pane fade" id="edit">
                            
            <form class="form-inline">
                <input type="text" class="input-small" placeholder="1">
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button type="button" class="btn btn-primary">Enrolled</button>
                        <button type="button" class="btn btn-primary">Vulnerable</button>
                        <button type="button" class="btn btn-primary">Refused</button>
                        <button type="button" class="btn btn-primary">Withdrawn</button>
                        <button type="button" class="btn btn-primary">Lost</button>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Add Subject(s)</button>
                    </form>
            
            
            
            <table class = "table table-hover table-condensed table-bordered" style = "font-size:14px" id="data_table">
                
                <thead>
                    <tr>
                        <th style="text-align: left;">Subject</th>
                        <th>Enrolled</th>
                        <th>Vulnerable</th>
                        <th>Refused</th>
                        <th>Withdrawn</th>
                        <th>Lost</th>
                    </tr>
                </thead>
                <tr>
                    <td style="text-align: left;">D111<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right" class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>

                </tr>
                <tr>
                    <td style="text-align: left;">D112<a style = "float:right; font-size:13px" href="#">edit  </a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                </tr>                                </tr>
                <tr>
                    <td style="text-align: left;">D113<a style = "float:right; font-size:13px" href="ff">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D114<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D115<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D116<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D117<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D118<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D119<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D120<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
            </table>
            
            
        </div>
                            
                            
          <!--**************** end Edit Data ******************** -->