<h4>DisplayTrialData Example -- display view</h4>

	<table>
	<tr> 
	   <th>Description</th>
	   <th>Date</th>
	   <th>Trial Name</th>	
	</tr>

		<% @t.each do |trial| %>
	<tr> 
		<td> <%=  trial.description       %> </td>
   		<td> <%=  trial.tdate    %> </td>
  		<td> <%=  trial.trialName    %> </td>
	</tr>
	<% end %>

	</table>